<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="AuxilioAcademicoPU" transaction-type="JTA">
    <jta-data-source>java:app/jdbc/canudosway</jta-data-source>
    <class>Model.VO.AlunoCurso</class>
    <class>Model.VO.AlunoTurmaDisciplina</class>
    <class>Model.VO.CadTurma</class>
    <class>Model.VO.Curso</class>
    <class>Model.VO.CursoDisciplina</class>
    <class>Model.VO.Disciplina</class>
    <class>Model.VO.DisciplinaHashtag</class>
    <class>Model.VO.Hashtag</class>
    <class>Model.VO.Perfil</class>
    <class>Model.VO.Professor</class>
    <class>Model.VO.Turma</class>
    <class>Model.VO.TurmaDisciplina</class>
    <class>Model.VO.Aluno</class>
    <class>Model.VO.Usuario</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
